src/main/mule/create-customer-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\customer:application\json:customer-sapi-config">
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="a361887f-c0a0-467d-bb57-3c47471a8b06" variableName="incomingPayload"/>
		<ee:transform doc:name="Transform Message" doc:id="db1de4df-ca9c-4ee7-99a3-518752eb5fc6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"custid": payload.customerid,
	"custname": payload.customername,
	"phoneno": payload.phonenumber,
	"job": payload.job,
	"address": payload.address,
	"jobtype": payload.jobtype,
	"salary": payload.salary,
	"city": payload.city,
	"state": payload.state
	
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="e3834a78-ed5e-4630-b715-7705dc433fc0" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into customer values{:custid,:custname,:phoneno,:job,:jobtype,:salary,:address,:city,:state}]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  statuscode: 201,
  message: "customerid " ++ vars.incomingPayload.customerid as String ++ " has been created"
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    
</flow>
	</mule>
